*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    background-color: darkgoldenrod;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
.menu{
    width: 100%;
    margin: 0 auto;
    background-color:yellow;

}
img {
    float: left;
}
nav {
    float: right;
}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
}